/* GENERAL */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0; /* Remove padding from the body */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Add a background color for better visibility */
}

.wrapper {
    width: 100%;
    max-width: 1500px; /* Set a maximum width for the content */
    padding: 20px; /* Apply padding to the wrapper */
    background-color: white; /* Optional: set a background color for the wrapper */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    box-sizing: border-box;
}

.border-div {
    padding: 60px; /* Adjust padding as needed */
    border: 6px solid gray;
    background-color: white;
    font-size: 1.5em;
}

p {
    text-align: justify;
}

/* DATA PROJECTS */
.grid-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.data-project-div {
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
}

.project-title-grid {
    font-variant: small-caps;
    font-weight: bold;
    font-size:x-large;
    color: forestgreen;
    border-bottom: 2px solid black;
}

/* EVEN FLOW */

.ef p {
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    line-height: 1.8;
    padding-left: 25px;
    padding-right: 25px;
}

.ef ul {
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large; 
    margin-left: 25px;
}

h1.ef {
    
}

.ef h2 {
    font-variant: small-caps;
}

.ef figcaption {
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    font-style: italic;
}

.ef figure {
    text-align: center;
}

.ef .fig-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-flex-ef {
    display:flex;
    align-items: flex-end;
    gap:50px;
    border-bottom: 5px double forestgreen;
}

.tech-list {
    text-align: right;
    font-style: italic;
    margin-top: 15px;
}

.sub-h1 {
    font-variant: small-caps;
    font-size: xx-large;
    margin:0;
    padding-bottom: 38px;
    margin-left: auto;
}

