/* GENERAL */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0; /* Remove padding from the body */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Add a background color for better visibility */
}

.wrapper {
    width: 100%;
    max-width: 1500px; /* Set a maximum width for the content */
    padding: 20px; /* Apply padding to the wrapper */
    background-color: white; /* Optional: set a background color for the wrapper */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    box-sizing: border-box;
}

.border-div {
    padding: 60px; /* Adjust padding as needed */
    border: 6px solid gray;
    background-color: white;
    font-size: 1.5em;
}

p {
    text-align: justify;
}

/* DATA PROJECTS */
.grid-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.data-project-div {
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
}

.project-title-grid {
    font-variant: small-caps;
    font-weight: bold;
    font-size:x-large;
    color: forestgreen;
    border-bottom: 2px solid black;
}

/* EVEN FLOW */

.ef .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.dashboard-view {
    width: 100%;
    height: auto;
    max-height: max-content;
    object-fit: cover;
}

.ef .fig-wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap:30px;
}

.map-ticket-img {
    width: 100%;
    object-fit: cover;
}

.ef .head-fig {
    margin: 0;
    padding: 0;
    text-align: center;
}

.ef .img-source {
    text-align: right;
    font-size: x-small;
}

.ef .head-fig img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Optional: limit the maximum height */
    object-fit: cover; /* Ensures the image covers the container */
}

.ef p {
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    line-height: 1.8;
    padding-left: 25px;
    padding-right: 25px;
}

.ef ul {
    font-family: "Montserrat", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large; 
    margin-left: 25px;
}





.ef figcaption {
    font-family: "Roboto", sans-serif;
    font-size:medium;
    font-style: italic;
}

.ef figure {
    text-align: center;
    margin: 0;
    padding: 0;
}

.map-ticket-img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}



.ef .fig-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-flex-ef {
    display:flex;
    align-items: flex-end;
    border-bottom: 15px double darkgreen;
    gap: 20px;
}

.tech-list {
    text-align: right;
    font-style: italic;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.sub-h1 {
    font-variant: small-caps;
    font-size: xx-large;
    margin-bottom: 15px;
    margin-left: auto;
    text-align: right;
    font-family: "Roboto", sans-serif;
}

.ef h1 {
    text-align: left;
    font-size: 250%;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.ef h2 {
    font-variant: small-caps;
    text-decoration: underline solid gray 5px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    
}

.ef h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: darkgreen;
    margin-left:50px;
}

.ef h4 {
    font-style:italic;
    font-size: large;
}

#ef-back-to-top {
    background-color: rgba(20, 72, 44, 0.1);
    color:black;
    border:none;
    padding:10px;
    border-radius: 5px;
    cursor:pointer;
    z-index:1000;
    font-size: 18px;
}

#ef-back-to-top:hover {
    background-color:rgba(20, 72, 44, 0.9);
    color:white;
}

.ef .div-btt-button {
    padding-top: 20px;
}


